---
layout: page
title: News 
permalink: /news/
---

<center><a href="https://yale-lily.github.io/"><img src="/lily-logo.png" alt="test image" width="20%" height="20%"></a></center>

  <header class="post-header">
    <h2 class="post-title">News</h2>
  </header> 
<!--

{% for term in site.data.news %}
<div class ="row">

<div style="text-align:center">
<h3>{{term.term}}</h3>
</div>
</div>

<table class="table table-striped table-hover">
<tr>
    <th> Date</th> <th> Talk</th> <th> Location </th>
</tr>
{% for event in term.events %}
    <tr>
        <td> {{ event.date }}  </td>
        <td> 
        {% if event.website %}
           <a href="{{event.event_website}}">{{event.type}}</a> 
        {% else %}
           <a href="{{event.event_website}}">{{event.type}}</a>  
        {% endif %}
        {% if event.presenter %}
            by <a href="{{event.website}}"> {{event.presenter}}</a>
        {% endif %}
        </td>
        <td> {{event.location}} </td>
    </tr>
{% endfor %}
</table>
{% endfor %} -->

    <ul>
	    <li>Nov. 2021: Our SummerTime repository is <a href="https://pypi.org/project/summertime/">online</a> and pip-installable now. Check it out!
	    <li>Aug. 2021: Three papers accepted to EMNLP! Mitigating False-Negative Contexts in Multi-document Question Answering with Retrieval Marginalization, An Exploratory Study on Long Dialogue Summarization: What Works and What’s Next, and SummerTime: Text Summarization Toolkit for Non-experts!
	    <li>Jun. 2021: One paper accepted to TACL! FeTaQA: Free-form Table Question Answering!
	    <li>Jun. 2021: A new release of <a href="https://aan.how">AAN</a>, our NLP search endine, is available. More than 20,000 resources are currently indexed there. We have a <a href="https://medium.com/lily-lab/aan-how-aan-new-version-release-b4eaad7e026c">blog post</a> with more details.
	    <li>Jun. 2021: A new release of <a href="https://github.com/Yale-LILY/LectureBank">LectureBank</a> is now available.
	    <li>Jun. 2021: A new release of <a href="https://github.com/Yale-LILY/TutorialBank">TutorialBank</a> is now available.
	    <li>May. 2021: Three papers accepted to ACL 2021! ConvoSumm: Conversation Summarization Benchmark and Improved Abstractive Summarization with Argument Mining, Unsupervised Cross-Domain Prerequisite Chain Learning using Variational Graph Autoencoders, and BookSum: A Collection of Datasets for Long-form Narrative Summarization!
	    <li>Apr. 2021: Our SummEval repository is <a href="https://pypi.org/project/summ-eval/">online</a> and pip-installable now. Check it out!
	    <li>Apr. 2021: One <a href="https://www.nature.com/articles/s41746-021-00437-0">paper</a> published at npj digital medicine: COVID-19 information retrieval with deep-learning based semantic search, question answering, and abstractive summarization!
	    <li>Apr. 2021: Our new dataset FeTaQA: Free-form Table Question Answering is released <a href="https://github.com/Yale-LILY/FeTaQA">online</a> now. Check it out!
	    <li>Apr. 2021: We updated <a href="aan.how">aan.how</a>, which now has over 16k manually-curated resources on NLP and related topics!
	    <li>Apr. 2021: Khera Awarded Career Development Grant from National Heart, Lung, and Blood Institute!
	    <li>Mar. 2021: Three papers accepted to NAACL! Improving Zero and Few-Shot Abstractive Summarization with Intermediate Fine-tuning and Data Augmentation, DART: Open-Domain Structured Data Record to Text Generation, and QMSum: A New Benchmark for Query-based Multi-domain Meeting Summarization!
	    <li>Mar. 2021: Two papers accepted to ICLR! GraPPa: Grammar-Augmented Pre-Training for Table Semantic Parsing and SCoRe: Pre-Training for Context Representation in Conversational Semantic Parsing!
	    <li>Mar. 2021: Tao Yu has successfully defended his PhD dissertation on semantic parsing for natural language interfaces. Congratulations to Dr. Yu!
	    <li>Feb. 2021: Alex Fabbri has successfully defended his PhD dissertation on natural language processing for text summarization. Congratulations to Dr. Fabbri!
	    <li><font color="black">Feb. 2021</font> Check out our <a href="/projects_f2020/">Fall 2020</a> projects!
	    <li>Jul. 2020 Check out the <a href=https://arxiv.org/pdf/2005.00730.pdf">ESPRIT</a> paper, accepted at ACL 2020!
	    <li><font color="black">Dec. 2019</font> Professor Dragomir Radev Elected as a Fellow of the AAAI! <a href="https://cpsc.yale.edu/news/dragomir-radev-elected-fellow-aaai">[link]</a>
	    <li>Dec. 2019: Professor Dragomir Radev Elected as a Fellow of the AAAI! <a href="https://cpsc.yale.edu/news/dragomir-radev-elected-fellow-aaai">[link]</a>
	    <li>Nov. 2019 Check out our task pages and repositories for <a href="https://yale-lily.github.io/sparc">SParC</a>, <a href="https://yale-lily.github.io/cosql">CoSQL</a>, <a href="https://github.com/ryanzhumich/editsql">EditSQL</a>, and <a href="https://github.com/Alex-Fabbri/Multi-News">Multi-News</a>!
	    <li>Oct. 2019: <a href="http://aan.how">AAN.how</a> has been updated to include over 12,000 resoures!
	    <li>Oct. 2019: A LILY <a href="https://arxiv.org/abs/1910.14076">paper</a> was accepted to the NeurIPS Machine Learning for Health Workshop!
	    <li><font color="black">Sep. 2019</font> Coached by Dragomir Radev, U.S. linguistics team takes prizes at IOL! <a href="https://cpsc.yale.edu/news/coached-dragomir-radev-us-linguistics-team-takes-prizes-iol">[link]</a>
	     <li>Aug. 2019: U.S. linguistics team, coached by Professor Radev, thrives at IOL. Check out <a href="https://seas.yale.edu/news-events/news/coached-dragomir-radev-us-linguistics-team-takes-prizes-iol">the story</a>!
	     <li>Aug. 2019: Check out the <a href="https://arxiv.org/pdf/1909.05378.pdf">CoSQL</a> and <a href="https://arxiv.org/pdf/1909.00786.pdf">EditSQL</a> papers from EMNLP 2019! 
             <li>Jun. 2019: Check out our ACL 2019 <a href="https://yale-lily.github.io/sparc">SParC: Yale & Salesforce Semantic Parsing and Text-to-SQL in Context Challenge
</a>!
	    <li><font color="black">May. 2019</font> <a href="https://cpsc.yale.edu/news/four-lily-papers-have-been-accepted-acl-top-conference-natural-language-processing">Four LILY papers</a> have been accepted at ACL, the top conference in Natural Language Processing!
             <li>Apr. 2019: Check out our collection of <a href="https://github.com/Yale-LILY/Awesome-NLP-Research">Awesome NLP</a> pages!
             <li>Apr. 2019: We updated <a href="http://aan.how/">aan.how</a> to include over 500 additional lecture slides from university courses!
             <li>Mar. 2019: Register for <a href="https://aiethicsyale.wordpress.com/1stworkshop/">The 1st Yale Workshop on AI, Ethics, and Society</a>!
             <li>Jan. 2019: Check out the work the LILY Lab will be presenting at AAAI, including the <a href="https://github.com/Yale-LILY/LectureBank">LectureBank</a> and <a href="https://cs.stanford.edu/~myasu/projects/scisumm_net/">ScisummNet</a> datasets!
	    <li><font color="black">Dec. 2018</font> Yale senior Michihiro Yasunaga is recipient of CRA 2019 Outstanding Undergraduate Researcher Award! <a href="https://cpsc.yale.edu/news/yale-senior-michihiro-yasunaga-recipient-cra-2019-outstanding-undergraduate-researcher-award">[link]</a>
	    <li><font color="black">Dec. 2018</font> Professor Dragomir Radev has been selected as new ACL fellow for 2018! <a href="https://cpsc.yale.edu/news/dragomir-radev-has-been-selected-new-acl-fellow-2018">[link]</a>
             <li>Nov. 2018: The LILY Lab now has a blog on Medium! Check it out <a href="https://medium.com/lily-lab">here</a>!
	    <li><font color="black">Nov. 2018</font> Professor Dragomir Radev named AAAS Fellow! <a href="https://cpsc.yale.edu/news/dragomir-radev-named-aaas-fellow">[link]</a>
            <li>Oct. 2018:Check out this <a href="https://jbkjr.com/posts/2018/08/fastai_openai_transformer/">blog post</a> on replicating the OpenAI Pretrained Transformer Language Model</li>
            <li>Oct. 2018: Check out this <a href="https://medium.com/@tao.yu/spider-one-more-step-towards-natural-language-interfaces-to-databases-62298dc6df3c">blog post</a> on the Spider dataset!</li>
        <li>Sep. 2018: Check out the dataset and leaderboard for our EMNLP 2018 paper: <a href="https://yale-lily.github.io/spider">Spider - Yale Complex and Cross-Domain Semantic Parsing and Text-to-SQL Challenge</a>! </li>
	    <li><font color="black">Aug. 2018</font> U.S. high schoolers, coached by Prof. Dragomir Radev, win the 2018 International Linguistics Olympiad in Prague, Czech Republic! <a href="https://cpsc.yale.edu/news/us-high-schoolers-coached-prof-dragomir-radev-win-2018-international-linguistics-olympiad">[link]</a>
        <li>July 2018. Our paper on TutorialBank was presented at ACL. You can read about TutorialBank <A href="https://alex-fabbri.github.io/TutorialBank/">on this blog post.</A></li>
	<li><font color="black">Jun. 2018</font> A very successful research year for the Natural Language Processing group at Yale! <a href="https://cpsc.yale.edu/news/very-successful-research-year-natural-language-processing-group-yale">[link]</a>
        <li>May 2018. AAN (All About NLP) hosted at <A href="http://aan.how">http://aan.how/</A>. Our new search engine for 8000+ tutorials, presentations, libraries, NACLO problems on NLP, AI, DL. </li>
        <li>We are co-organizing a workshop on <A href="http://wing.comp.nus.edu.sg/~cl-scisumm2018/">Scientific Document Summarization</A> at <A href="http://sigir.org/sigir2018/">SIGIR 2018</A></li>
        <li><A href="https://yale-lily.github.io/workshop/"> Workshop on Computational Social Science on October 20, 2017</A> </li>
            <ul>
                <li> <A href="https://yaledailynews.com/blog/2017/10/25/yale-holds-inaugural-data-science-workshop/">YDN Article</A> </li> 
                <li> <A href="https://news.yale.edu/2017/10/27/inaugural-data-science-workshop-highlights-social-sciences">Yale News</A> </li> 
            </ul>
	    <li><font color="black">May 2017</font> Dragomir Radev is the new Giamatti Professor of Computer Science! <a href="https://cpsc.yale.edu/news/dragomir-radev-new-giamatti-professor-computer-science">[link]</a>
    </ul>
<style>
#pubTable_filter{
    display:none;
}
</style>

<table id="pubTable" class="table table-hover"></table>



